/* header and navigation panel */
header {
    background-color: #ffffff;
    text-align: right;
    border-bottom: 2px solid #cccccc;
    height: 85px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Nav class formatting */
.nav{
    padding: 2em;
    margin: unset;
    margin-right:8%;
}

/* nav-item (text) formatting */
.nav-item {
    display:inline;
}

a {
    text-decoration: none;
    text-align: center;
    padding: .5em;
    margin:0px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
} 

 /* title name */
.name {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    background-color: #4aaaa5;
    width:23%;
    vertical-align: center;
    float: left;
    text-align: left;
    margin-left: 136px;
    height:51%;
    padding:21px;
 }

 /* subheader changes per page(about-contact-portfolio) */
.subheader{
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 /* background image/style */
body {
    background-image: url("..\\images\\concrete_seamless.png");
    margin: unset;
    font-family: Arial, Helvetica, sans-serif;
}

/* index text styling */
p {
    margin-left: 270px;
    color: #777777;
    font-size: smaller;
}

/* submit button */
input {
    width: 100%;
    color: #777777;
}

/* Contact.html Message input formating */
textarea {
    width: 100%;
}

/* container styling for all */
.container1 {
    background-color: #ffffff;
    border: solid;
    border-color:#dddddd;
    width: 914px;
    height: 340px;
    margin: auto;
    margin-top: 1.5em;
    padding: 1.5em;
    padding-top: 0em;
    padding-bottom: 5em;
   
}

figure {
    display:inline-block;
    margin: 2em;
    margin-top: .4em;
    margin-bottom: .2em;
}

/* index.html profile picture */
.profile-pic {
    float: left;
    margin-right: 15px;
}

/* Portfolio.html Figure Captions */
figcaption {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    top: -40px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

/* styling all pages footer */
.footer {
    background-color: #666666;
    text-align: center;
    vertical-align: center;
    color:#ffffff;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    line-height: 10px;
    margin-top:10px;
    bottom: 0;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio-image{
    width: 130px;
    height: 130px;

}

@media screen and (max-width: 980px) {
    .container1 {
        width: 90%;
        margin: unset;
        margin-top: 20px;
        margin-left: 20px;
        height: 100%;
        font-size: smaller;
    }
    .name {
        margin-left: 22px;
        font-size: 24px;
        padding: 12px;
        width: 26%;
    }

    header {
        height: 48px;
    }

    .nav {
        padding: 15px;
    }
    .profile-pic {
        width: 188px;
        height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .container1 {
        width: 87%;
    }
    .name {
        margin-left: 22px;
        font-size: 20px;
        padding: 12px;
        width: 23%;
    }

    header {
        height: 48px;
    }

    .nav {
        padding: 15px;
    }

}


@media screen and (max-width: 640px) {
    header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }
    .header-style {
        position: static;
        top: 0;
        width: 100%;
    }
    .name {
        width: 100%;
        margin: unset;
        text-align: center;
    }
    .nav {
        margin: auto;
    }
    .container1 {
        width: 80%;
    }
}